<div id="banner">
  <div class="banner_content">
    <h1> File Cabinet </h1>
      <p>All About Horcruxes. Organized, always. </p>
      <a href="users/sign_up" class="button"> Enter </a>
    </div>
  </div>

  <div id="callouts">
    <div class="callout_inner">
      <div class='wrapper'>
        <div class="callout">
          <h2>Organize</h2>
          <p>
          Organize your life! Or else. Shantay you stay everyone else
          sashay away. Rings, goblets, journals oh my.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom_cta">
    <div>
      <h2>Go Ahead!</h2>
      <br/>
      <a href="users/sign_up" class="button"> Join Now </a>
    </div>
  </div>
