<h1> These are all my documents? </h1

  <% @documents.each do |document|%>
    <h2> <%= link_to document.title, document %> </h2>
    <p> <%= time_ago_in_words(document.created_at)%> </p>
    <p> <%= truncate(doc.content)%></p>
  <% end %>
